*{
    margin: 0;
    padding: 0;
}
a{
        text-decoration: none;
        color: black;
    }
header{
    box-sizing: border-box;
}
.headerinner{
    display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 1000px;
    height: 68px;
}
.headerinner .headertitle{
    width: 95px;
    height: 68px;
}
.headerinner .headertitle .bandlogo{
    width: 78px;
    height: 29px;
    background-image: url(img/spr_intro.png);
}
.headerinner .floatsection{
    top: 14px;
    position: absolute;
    right: 30px;
    box-sizing: border-box;

}
.headerinner .floatsection .currentland{
    display: inline-block;
    position: relative;
}
.headerinner .floatsection .currentland .language{
    position: relative;
    padding-right: 13px;
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
}
.headerinner .floatsection .signup{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin: 7px 0 0 27px;
    vertical-align: top;
}
.headerinner .floatsection .login{
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    height: 35px;
    margin: 0 0 0 26px;
    padding: 0 23px;
    border-radius: 2px;
    background-color: #21c531;
    line-height: 35px;
    vertical-align: top;
    color: white;
}
.main{
    box-sizing: border-box;
    display: block;
}
.main .sloganArea{
    padding-top: 76px;
    box-sizing: border-box;
}
.main .sloganarea .sloganinner{
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.main .sloganarea .sloganinner .imagesSection{
    float: left;
    width: 540px;
    height: 695px;
    margin-right: 50px;
    background-image: url(img/bg_sloganImg.jpg);
    background-size: 540px auto;
}
.main .sloganarea .sloganinner ._signupregion{
    box-sizing: border-box;
    display: block;
}
.main .sloganarea .sloganinner ._signupregion .loginsection{
    overflow: hidden;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.main .sloganarea .sloganinner ._signupregion .loginsection h2{
    margin-top: 29px;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.21;
}