
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    list-style: none;
}

.global{
    background-color: rgba(0, 0, 0, 8);
    height: 48px;
    display: block;
    margin-bottom: 10px;
}
.global .global-nav{
    text-align: center;
    height: 48px;
    width: 30px;
}
.global .global-nav .global-nav-item{
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}

#global-nav
.gn-apple-icon{
    background-image: url(img/ipad/globalnav_apple_image__b5er5ngrzxqq_large.svg);
    background-repeat: no-repeat;
}
.gn-store{
    background-image: url(img/ipad/globalnav_links_store_image__c7jy08initqq_large.svg);
    background-repeat: no-repeat;
}
.gn-mac{
    background-image: url(img/ipad/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
    background-repeat: no-repeat;
}
.gn-ipad{
    background-image: url(img/ipad/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg);
    background-repeat: no-repeat;
}
.gn-iphone{
    background-image: url(img/ipad/globalnav_links_iphone_image__ko7x4isga4ia_large.svg);
    background-repeat: no-repeat;
}
.gn-watch{
    background-image: url(img/ipad/globalnav_links_watch_image__gkoblojrlsqe_large.svg);
    background-repeat: no-repeat;
}
.gn-airpods{
    background-image: url(img/ipad/globalnav_links_airpods_image__f969s84ivmaa_large.svg);
    background-repeat: no-repeat;
}
.gn-onlyapple{
    background-image: url(img/ipad/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg);
    background-repeat: no-repeat;
}
.gn-accsesorie{
    background-image: url(img/ipad/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg);
    background-repeat: no-repeat;
}
.gn-support{
    background-image: url(img/ipad/globalnav_links_support_image__bw9kctll7u3m_large.svg);
    background-repeat: no-repeat;
}
.gn-search{
    background-image: url(img/ipad/globalnav_search_image__cbllq1gkias2_large.svg);
    background-repeat: no-repeat;
}
.gn-bag{
    background-image: url(img/ipad/globalnav_bag_image__yzte50i47ciu_large.svg);
    background-repeat: no-repeat;
}

.gn-inner{
    clip: 1px 1px 1px 1px;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.categori{
    height: 100px;
    display: block;
    position: relative;
}
.categori .categoriitem{
    text-align: center;
}
.categori .categoriitem .categoriitemimg{
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    margin-left: 4px;
}
.categori .categoriitem .categoriitemimg .categoritheme {
    color: black
}
.categori .categoriitem .categoriitemimg .categoritheme .categoriicon img{
    width: 41px;
    height: 54px;
}
.educate-sale{
    text-align: center;
    background-color: #f5f5f7;
    font-size: 14px;
    font-weight: 500;
}
.ipad-mini