:root{
    --default-margin:18px;
    --blue-color:#89ff1b;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

body{
    background-color: #181818;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    position: relative;
}

header{
    background-color: #242424;
}

#headerContainer{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerContainer .headerIcon{
    padding:8px;
    cursor: pointer;

}

#headerContainer .left{
    width:170px;
    display: flex;
    align-items: center;
}

#headerContainer .center{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#headerContainer .right{
    display: flex;
    align-items: center;
}

#headerContainer .right .profile{
    width: 32px;
    height: 32px;
    background-color: tomato;
    border-radius: 50%;
    margin: 8px;
}

.player .video{
    background-color: wheat;
    width: 100%;
    padding-bottom: 56.25%;
}

.metadata{
    margin: 18px;
}

.metadata .metaContainer .tag{
    color: var(--blue-color);
    font-style: italic;
    font-size: 12px;
}

.metadata .metaContainer .dataAndBotton{
    display: flex;
    justify-content: space-between;
}

.metadata .metaContainer .dataAndBotton p{
    color: #777777;
    font-size: 14px;
}

.metadata .metaContainer .dataAndBotton .Bottons{
    display: flex;
    align-items: center;
}

.metadata .metaContainer .dataAndBotton .Bottons div{
    margin-right: 9px;
    margin-left: 18px;
}

.videoExplan{
    margin:18px;
}

.videoExplan .chanelInfo{
    display: flex;
    align-items: center;
    border-top: solid 1px grey;
    padding-top: 18px;
}



.videoExplan .chanelInfo .chanelProflie{
    margin-right: 18px;
}

.videoExplan .chanelInfo .chanelProflie div{
    width: 48px;
    height: 48px;
    background-color: honeydew;
    border-radius: 50%;
}

.videoExplan .chanelInfo .nameAndSubs{
    width: 100%;
}

.videoExplan .chanelInfo .nameAndSubs .subs{
    color: grey;
    font-size: 14px;
}

.videoExplan .chanelInfo .subsBotton div{
    width: 72px;
    height: 32px;
    background-color: red;
    text-align: center;
    line-height: 32px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}

.videoExplan .videoInfo{
    margin-top: 18px;
    margin-left: 66px;
}

.nextVideo{
    margin: 18px;
    border-top: 1px solid grey;
}

.nextVideo .contents{
    display: flex;
    margin-top: 18px;
}


.nextVideo .contents .thumb{
    width: 168px;
    height: 94px;
    background-color: rosybrown;
}

.nextVideo .contents .nextVideoInfo{
    padding-left: 9px;
}

.nextVideo .contents .nextVideoInfo .nextVideoInnerInfo{
    font-size: 14px;
    color: grey;
}

.comment{
    margin: 18px;
    border-top: 1px solid grey;
    padding-top: 18px;
    height: 80px;
}

.comment .replyCount .thisVideoReplyCount{
    font-size: 16px;
    margin-right: 60px;
}

.comment .mycomment{
    display: flex;
    margin-top: 9px;
}

.comment .mycomment .mycommentProfile{
    margin-right: 9px;
}
.comment .mycomment .mycommentProfile div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: khaki;
}

.comment .mycomment .mycommentText{
    width: 100%;
}

.comment .mycomment .mycommentText input{
    width: 100%;
    height: 30px;
    background: none;
    border:none;
    border-bottom: 1px solid grey;
    color:white;
}

.comment .mycomment .mycommentText input:focus{
    outline: none;
}

.commentList{
    margin:18px;
}

.commentList .commentListContents{
    display: flex;
}

.commentList .commentListContents .commentLeft{
    margin-right: 9px;
}

.commentList .commentListContents .commentLeft div{
    width: 40px;
    height: 40px;
    background-color: teal;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
}

.commentList .commentRight{
    width: 100%;
}

.commentList .commentRight .commentRightTop .commentDate{
    font-size: 12px;
    color: grey;
}

.commentList .commentRight .commentRightBottom{
    display: flex;
    margin-top: 18px;
}

.commentList .commentRight .commentRightBottom>*{
    margin-right: 18px;

}

@media screen and (min-width:1024px) {
    body>section{
        width: 65%;
    }

    .nextVideo{
        position: absolute;
        top:56px;
        right: 0;
        width: 30%;
        border-top: none;
        margin-top: 0;
    }

}